.company-elemets-img {
  width: 500px;
	height: 400px;
  float: left;
  left: 25%;
  position: relative;
  object-fit: contain;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.inner-container2 {
  width: 100%;
  float: left;
  $bg-color: #fff;
  padding: 100px 150px 100px 150px;

  h1 {
    margin-bottom: 30px;
    color: #374248;
  }

  p {
    margin-bottom: 0px;
  }
}

.inner-container3 {
  width: 100%;
  float: right;
  $bg-color: #fff;
  padding: 100px 150px 100px 150px;

  h1 {
    margin-bottom: 30px;
    color: #374248;
  }

  p {
    margin-bottom: 0px;
  }
}

.text {
  font-size: 13px;
  color: #374248;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .inner-container2, .inner-container3 {
    padding: 80px;
  }
}

@media screen and (max-width: 992px) {
  .company-elemets-img {
    width: 300px;
    height: 250px;
    float: left;
    position: relative;
    left: 0%;
  }
  .inner-container2, .inner-container3 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .company-elemets-img {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    left: 20%;
    margin-top: 15px;
  }
  .inner-container2, .inner-container3 {
    padding: 0 10px 0 10px;
    
    h1 {
      margin-bottom: 5px;
    }

    p {
      font-size: 13px !important;
    }
  }
}
