.container {
  width: 60%;
  margin: 50px auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }

  .container {
    width: 75%;
  }
}
