.companies-container{
     display: flex;
     flex-wrap:nowrap;
     justify-content: center;
     text-align: center;
     margin-top: 50px;
     .companies-title {
          font-size: 30px;
          color: rgb(202, 181, 0);
          margin-top: 30px;
          margin-bottom: 30px;
     }
     .companies-card{
          width: 250px;
          height: 150px;
          padding-left: 30px;
          float: left;
          .card-img-top{
               width: 200px;
               height: 120px; 
          }
     }
}

@media screen and (max-width: 620px) {
     .companies-row {
          padding-left: 45px;
     }
     .companies-title {
          margin-left: -50px;
     }
}

