$title-color: #fff;
$form-font:'Open Sans', sans-serif;

.background {
  background-image: linear-gradient(0deg, #374248 0%, #63726b 90%);
  padding: 150px 0 100px 0;
  position: relative;
  margin-top: 100px;

  h1 {
    margin-bottom: 30px;
    color: $title-color;
    text-align: center;
  }

  &:after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% 64px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 64px;
    top: 0;
    background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=180deg");
  }
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 20px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions {
  margin: 0 auto 5px 80px;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle {
  color: grey;
}

.name {
  font-family: $form-font;
  background-color: #ebebeb;
  color: #374248;
}

.phone {
  font-family: $form-font;
  background-color: #ebebeb;
  color: #374248;
}

.email {
  font-family: $form-font;
  background-color: #ebebeb;
  color: #374248;
}

.message {
  font-family: $form-font;
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
  max-width: 300px;
  max-height: 200px;
  min-height: 200px;
  min-width: 300px;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.submit {
  font-family: $form-font;
  font-weight: 400;
  cursor: pointer;
  background-color: #cab500;
  color: #c1402d;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

@media screen and (max-width: 768px) {
  .background {
    padding: 100px 0 50px 0;
    margin: 0;
  }

  .form {
    margin: 20px;
  }

  ::-webkit-input-placeholder {
    font-size: 1.0em;
  }

  .submit {
    font-weight: 600;
    font-size: 0.8em;
  }
}
