* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.background {
  background-image: linear-gradient(0deg, #374248 0%, #63726b 90%);
  padding: 150px 0 100px 0;
  position: relative;
}

.background:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 64px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
}

.background:after {
  top: 0;
  background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=180deg");
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 20px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions {
  margin: 0 auto 5px 80px;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle {
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: #374248;
}

.phone {
  background-color: #ebebeb;
  color: #374248;
}

.email {
  background-color: #ebebeb;
  color: #374248;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.submit {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  background-color: #cab500;
  color: #c1402d;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.submit:hover {
  transform: translateY(-3px);
}
