
.navbar {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     font-size: 22px;
     color: RGB(202, 181, 0);
     background-color: #374248;
     .nav {
          .nav-logo {
               padding-left: 15px;
               width: 280px;
               height: 90px;
          }
     }
     .list {
          list-style: none;
          display: flex;
          gap: 25px;
          .nav-link{
               padding-right: 15px;
               text-decoration: none;
               color: inherit;
          }
     }
}

#toggler,
.navbar label {
     display: none;
}

@media (max-width: 900px){
     .menu {
          width: 100%;
          max-height: 0;
          overflow: hidden;
     }

     .list {
          flex-direction: column;
          text-align: center;
          padding: 20px;
     }

     .navbar {
          padding: 20px;

          label {
               display: inline-flex;
               align-items: center;
               cursor: pointer;
          }
     }

     #toggler:checked~.menu {
          max-height: 100%;
     }

     .menu li:hover {
          background-color: #4c5b63;
     }

     .nav-logo {
          display: none;
     }
}





