.swiper {
     width: 100%;
     height: 100%;
}

.swiper-slide {
     text-align: center;
     font-size: 18px;
     /*Transparent background*/
     background: rgba(110, 122, 129, 0);
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
.swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.card {
     margin-top: 20px;
     background-color: #374248;
     border-radius: 12px;
     display: grid;
     grid-template-columns: auto auto;
     cursor: pointer;
     .card-image{
          width: 100%;
          height: 100%;
          border-radius: 12px;
          .card-img { 
               width: 100%;
               height: 100%;
               position: relative;
               z-index: 1;
               width: 200px;
               height: 200px;
               border-radius: 50%;
               margin-top: 20px;
               margin-left: 40px;
               margin-bottom: 35px;
          }
     }
     .circle {
          width: 160px; 
          height: 120px; 
          border: 5px solid rgb(202, 181, 0); 
          background: rgb(202, 181, 0);
          -moz-border-radius: 0 100% 0 0;
          -webkit-border-radius: 0 100% 0 0;
          border-radius: 0 100% 0 12%;
          position: absolute;
          margin-top: -119px;
     }
     .card-body{
          margin-left: 20px;
          display: inline-block;
          .card-title{
               font-size: 25px;
               font-family: 'Cormorant Garamond', serif;
               color: rgb(253, 243, 243);
               margin-top: 30px;
               margin-left: -70px;
          }
          .text-left {
               text-align: start;
               margin: 10px;
               .card-text {
                    font-size: 20px;
                    font-family: 'Cormorant Garamond', serif;
                    color: rgb(253, 243, 243);
                    margin-top: 10px;
                    max-width: 400px;
                    padding-bottom: 100px;
                    max-height: 400px;
               }
               .period{
                    color:rgb(202, 181, 0);
               }
               .card-job {
                    font-size: 20px;
                    font-family: 'Cormorant Garamond', serif;
                    color: rgb(253, 243, 243);
               }
          }
     }
     .card-social{
          display: flex;
          justify-content: flex-start;
          position: absolute;
          bottom: 15px;
          .logo{
               width: 30px;
               height: 30px;
               margin-left: 10px;
               margin-top: 15px;
               margin-bottom: 15px;
          }
     }
}

@media (min-width: 1430px) and (max-width: 1606px) {
     .card{
          .card-body {
               .card-social{
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: 30px;
               }
               margin-bottom: -25px;
          }
          
     }
}

@media (min-width: 1300px) and (max-width: 1430px) {
     .card{
          .card-body {
               width: 150px;
               height: 260px;
               text-align: center;
               .card-text {
                    display: none;
               }
               .card-title{
                    margin-top: 35px;
               }
               .card-social{
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: 70px;
               }
          }
          .circle{
               margin-top: -112px;
          }
     }
}

@media (min-width: 1260px) and (max-width: 1300px) {
     .card{
          .card-body {
               width: 150px;
               height: 260px;
               text-align: center;
               .card-text {
                    display: none;
               }
               .card-title{
                    margin-top: 35px;
               }
               .card-social{
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: 70px;
               }
          }
          .circle{
               margin-top: -110px;
          }
     }
}

@media (min-width: 1160px ) and (max-width: 1260px) {
     .card{
          .card-body {
               width: 80px;
               height: 260px;
               text-align: center;
               .card-text {
                    display: none;
               }
               .card-job {
                    display: none;
               }
               .period {
                    display: none;
               }
               .card-title{
                    display: none;
               }
               .card-social{
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: 10px;
                    right: 40px;
               }
          }
          .circle{
               margin-top: -110px;
          }
     }
}

@media (min-width: 990px) and (max-width: 1160px) {
     .card{
          .card-image {
               z-index: 1;
          }
          .card-body {
               width: 50px;
               height: 260px;
               text-align: center;
               .card-text {
                    display: none;
               }
               .card-job {
                    display: none;
               }
               .period {
                    display: none;
               }
               .card-title{
                    display: none;
               }
               .card-social{
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: 10px;
                    right: 40px;
                    z-index: 2;
               }
          }
          .circle{
               margin-top: -110px;
          }
     }
}

@media screen and (max-width: 990px) {
     .card{
          background-color: rgba(255, 255, 0, 0);
          .card-image {
               z-index: -2;
               margin-right: -40px;
          }
          .circle{
               display: none;
          }
          .card-body {
               
               text-align: center;
               .card-text {
                    display: none;
               }
               .card-job {
                    display: none;
               }
               .period {
                    display: none;
               }
               .card-title{
                    display: none;
               }
               .card-social{
                    position: sticky;
                    top: 200px;
                    margin-left: -165px;
                    z-index: 2;
               }
               
          }
     }
}
