$bg-footer-color: #374248;
$bg-footer-bottom-color: #00121b;
$bg-footer-line-color: #cab500;
$bg-footer-font: "Open Sans", sans-serif;
$text-color: #fff;
$text-hover-color: #cab500;

.footer {
  width: 100%;
  background: $bg-footer-color;
  display: block;
  font-family: $bg-footer-font;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: $text-color;

  h1 {
    color: $text-color;
  }

  p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: $text-color;
  }
}

.footer-logo {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
}

.border1 {
  height: 3px;
  width: 40px;
  background: $bg-footer-line-color;
  color: $text-hover-color;
  border: 0px;
}

ul {
  list-style: none;
  color: $text-color;
  font-size: 15px;
  letter-spacing: 0.5px;

  a {
    text-decoration: none;
    outline: none;
    color: $text-color;
    transition: 0.3s;
  }

  a:hover {
    color: $text-hover-color;
  }

  li {
    margin: 10px 0;
    height: 25px;

    i {
        margin-right: 20px;
      }
  }
}

.social-media {
  width: 100%;
  color: $text-color;
  text-align: left;
  font-size: 20px;

  a {
    text-decoration: none;
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: $text-color;
    transition: 0.5s;
  }

  a:hover {
    color: $text-hover-color;
  }
}

.footer-bottom {
  padding: 10px;
  background: $bg-footer-bottom-color;
  color: $text-color;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
