@import "./components/NavBar/NavBar.scss";
@import "./components/Carousel/Carousel.scss";
@import "./components/Companies/Companies.scss";
@import "./components/AboutUs/AboutUs.scss";
@import "./components/Button/Button.scss";
@import "./components/Card/Card.scss";
@import "./components/CardListContainer/CardListContainer.scss";
@import "./components/CompanyElements/CompanyElements.scss";
@import "./components/ContactForm/ContactForm.scss";
@import "./components/Footer/Footer.scss";
@import "./_fonts.scss";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html,
body,
#root {
     height: 100vh;
}

#root {
     display: flex;
     flex-direction: column;
}


h1 {
     font-size: 50px;
}

h2 {
     font-size: 30px;
}

p {
     font-size: 15px;
}

/*Fonts*/
.nav-link{
     font-family: $font-ubuntu;
}

.card2 {
     .titulo, .card-body{
          font-family: $font-ubuntu;
     }
}

.about-section{
     font-family: $font-caveat;
     p{
          font-size: 20px;
     }
     button {
          font-family: $font-caveat;
          color: white;
     }
}
.companies-title{
     font-family: $font-ubuntu;
}
.background {
     font-family: $font-caveat;
     input {
          font-family: $font-caveat;
     }
     textarea{
          font-family: $font-caveat;
     }
     .submit {
          color: white;
     }
}

/*End section fonts*/

@media screen and (max-width: 620px) {
     h1 {
          font-size: 35px;
     }

     h2 {
          font-size: 25px;
     }

     p {
          font-size: 15px;
     }
}

.home-container {
     width: 100%;
     height: 85vh;
}

