@import "components/AboutUs/styles";
@import "components/Button/styles";
@import "components/Card/styles";
@import "components/CardListContainer/styles";
@import "components/CompanyElements/styles";
@import "components/ContactForm/styles";
@import "components/Footer/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }
}
